/****************************List of all Galleries****************************/

.view-gallery-photos .node-teaser {
  border-top: none;
  padding: 0;
}
        
.view-gallery-photos .view-display-id-node_content_2 {
  float: left;
  padding-right: 10px;
}
	
/****************************Individual Galleries****************************/

.view-gallery-photos table.views-view-grid td {
  width: 236px;
  vertical-align: top;
  text-align: center;
}

.views-field-field-pictures-data {
  text-align: center;
}

.views-field-field-pictures-fid {
  margin-top: 10px;
}
	
.views_slideshow_singleframe_main {
  text-align: center;
}
	
.view-gallery-photos .views-field-field-pictures-fid img {
  padding: 1px;
  border: 1px solid #C6C8C9;
}

.view-gallery-photos .view-header {
  text-align: right;
  color: #424143;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 0.9em;
  font-style: italic;
}

div.edit-link, 
div.edit-link a {
  font-size: 0.9em;
  text-align: left;
  color: #424143;
}



/*********************************Slideshows*********************************/

.view-id-gallery_photos .views_slideshow_singleframe_slide {
  z-index: 10 !important;
}

div.dotted-line {
    border-top: 1px dotted #999999;
    clear: both;
    margin: 0.75em 0 1em;
}